fastapi
uvicorn
sqlalchemy
psycopg2-binary
geoalchemy2
alembic
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
pika
websockets
requests
pytest
httpx
